body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

nav {
    height: 69px;
    background-color: black;
    border-bottom: 1px seashell;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
}

#logo {
    height: 50px;
    float: left;
    padding-left: 10px;
}

.navigation-bar {
    float: right;
    height: 100%;
    margin: 0 auto;
}

.navigation-bar a {
    height: 100%;
    display: table;
    float: left;
    padding-left: 0 20px;
    margin: 0 .25em;
}

.navigation-bar a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-decoration: underline;
    color: white;
}

.mission-container {
    background-image: url("img-mission-background.webp");
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
}

.text-over {
    margin: auto;
    background-color: #000000A0;
    width: 100%;
    padding: 20px 0;
}

#tea-of-the-month {

}

.special-item-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.special-item img {
    height: 200px;
    width: 300px;
    padding: 10px;
    display: inline-flex;
    justify-content: flex-start;
}

.banner {
    height: 500px;
    width: 1200px;
    margin: 40px auto auto;
    padding-top: 85px;
    background-image: url("img-locations-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.location {
    display: inline-block;
    width: 300px;
    height: 250px;
    background-color: #000000A0;
    margin: 50px 20px;
    padding: 50px 0 0;
    line-height: 50px;
}

footer {
    line-height: 50px;
    
}

.location-container {

}